<style type="text/css">
    label {
        display: inline-block;
        width:125px;
        vertical-align: top;
       } 
    input, textarea {
       width:200px;
       }
    input:focus {
        border: 2px solid #000;
        background: #F3F3F3;
    }
    textarea:focus {
        border: 2px solid #000;
        background: #F3F3F3;
    }
</style>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Create resolution</h1>
        {{ form_start(form) }}
            {{ form_row(form.solution) }}
            {{ form_row(form.finished) }}
            {{ form_row(form.save) }}
            <button type="button"
                onclick="location.href='{{ path('incidenceList') }}';">return To list
            </button>
        {{ form_end(form) }}
    </body>
</html>
